*{
	padding:0;
	margin:0;
}
ol,ul,li{
	list-style:none;
}
a{
	text-decoration:none;
}
.clearfix::after {
    content:"";
    height:0;
    display:block;
    clear:both;
}
#contain{
	width:100%;
	height:1080px;
	margin:0 auto;
	/*background-color:red;*/
	background-color:rgb(248,247,246);
}
#begain{
	width:100%;
	height:1080px;
	margin:0 auto;
	
}
#flow1{
	/*width:123px;*/
	width:45px;
	height:60px;
	float:right;
	top:80px;
	position:fixed;
	right:0;
}
#flow2{
	/*width:60px;*/
	width:45px;
	height:140px;
	float:right;
	top:185px;
	position:fixed;
	right:0;
	background-color:rgb(253,154,110);
}
#enter{
	float:right;
	margin:0 auto;
	margin-top:50px;
	margin-right:10px;
}
#flow3{
	/*width:123px;*/
	width:45px;
	height:50px;
	float:right;
	top:330px;
	position:fixed;
	right:0;
}
#erwei{
	/*width:90px;*/
	width:45px;
	height:100px;
	float:right;
	top:380px;
	position:fixed;
	right:0;
	background-color:rgb(253,154,110);
}
#erwei1{
	margin: 0 auto;
	margin-top:10px;
	margin-left:12px;
}
#flow4{
	/*width:123px;*/
	width:45px;
	height:140px;
	float:right;
	top:490px;
	position:fixed;
	right:0;
}
.cover{
	width:100%;
	height:110px;
	float:left;
	margin: 0 auto;
	background-color:#fff;
	z-index:999;
}
/*top*/
.top{
	width:1340px;
	height:30px;
	margin:0 auto;
	float:left;
	background-color:#fff;
}
.a{
	width:80px;
	height:25px
	margin:0 auto;
	float:left;
	margin-left:83px;
	font-size:1px;
	color:rgb(200,164,172);
	margin-top:5px;
}
.top .topr{
	width:800px;
	height:25px;
	margin:0 auto;
	float:left;
	margin-left:370px;
	margin-top:2px;
}
.pic{
	width:80px;
	height:25px;
	margin:0 auto;
	float:left;
}
.picr{
	width:720px;
	height:25px;
	margin:0 auto;
	float:left;
}
.bi{
	float:left;
}
.bi li{
	float:left;
	margin-right:20px;
	font-size:14px;
}
.bi li:lastchild{
	list-style:none;
}
.bi .mess{
	padding-left:15px;
	background:url(../img/message.png) no-repeat left center;
}
.bi .dingdan{
	padding-left:15px;
	background:url(../img/dingdan.jpg) no-repeat left center;
}
.bi .phone{
	padding-left:15px;
	background:url(../img/tp-my-phone.png) no-repeat left center;
}
.bi .shopcar{
	padding-left:15px;
	background:url(../img/gouwuche.jpg) no-repeat left center;
}
/*next*/
.next{
	width:1340px;
	height:80px;
	margin:0 auto;
	float:left;
	background-color:#fff;
}
.nextl{
	margin:0 auto;
	float:left;
	margin-left:83px;
	margin-top:8px;
}
.nextz{
	width:585px;
	height:70px;
	margin:0 auto;
	float:left;
	margin-left:110px;
	margin-top:4px;
}
.search{
	width:580px;
	height:42px;
	margin:0 auto;
	float:left;
	border:2px solid rgb(255,77,4);
	border-radius:2px;
}
#sou{
	width:500px;
	height:38px;
	margin:0 auto;
	float:left;
}
#suo{
	width:76px;
	height:42px;
	margin:0 auto;
	float:left;
	border:1px solid rgb(255,77,4);
	background-color:rgb(255,77,4);
	font-size:20px;
	color:#fff;
}
.ci{
	float:left;
}
.ci li{
	float:left;
	font-size:14px;
	line-height:25px;
	padding-right:11px;
	background:url(../img/line1.png) no-repeat right top;
}
.ci li:lastchild{
	list-style:none;
}
.nextr{
	width:260px;
	height:42px;
	margin:0 auto;
	float:left;
	margin-left:40px;
	margin-top:15px;
}
.nel{
	width:85px;
	height:38px;
	margin:0 auto;
	float:left;
	border:1px solid rgb(217,255,255);
	border-radius:2px;
	color:rgb(217,255,255);
	font-size:12px;
	background:url(../img/erji.png) no-repeat center top;
}
.nez{
	width:85px;
	height:38px;
	margin:0 auto;
	float:left;
	border:1px solid rgb(217,255,255);
	border-radius:2px;
	color:rgb(217,255,255);
	font-size:12px;
	background:url(../img/message.png) no-repeat center top;
}
.ner{
	width:85px;
	height:40px;
	margin:0 auto;
	float:left;
	color:rgb(217,255,255);
	font-size:14px;
	border:2px solid rgb(255,77,4);
	background:url(../img/wenhao.jpg) no-repeat left center;
	background-color:rgb(255,77,4);
	border-radius:2px;
}
/*whole*/
.whole{
	width:1302px;
	height:47px;
	margin:0 auto;
	float:left;
	/*margin-top:5px;*/
	border-bottom:1px solid rgb(255,77,4);
	background-color:#fff;
}
.shop{
	width:170px;
	height:42px;
	margin:0 auto;
	float:left;
	margin-left:83px;
	font-size:18px;
	color:#fff;
	background-color:rgb(255,77,4);
}
.lei{
	width:800px;
	height:42px;
	margin:0 auto;
	float:left;
	margin-left:0px;
}
.di{
	width:710px;
	height:42px;
	float:left;
}
.di li{
	float:left;
	font-size:18px;
	margin-left:43px;
	color:rgb(0,0,0);
	margin-top:10px;
	text-align:center;
}
.di li:hover{
	text-align:center;
	color:#fff;
	background-color:rgb(255,77,4);
}
.di li:lastchild{
	list-style:none;
}
/*dangqian*/
.dangqian1{
	width:1340px;
	height:555px;
	float:left;
	margin-left:0px;
}
.dangqian{
	width:1182px;
	height:555px;
	float:left;
	margin-left:83px;
}
.dang{
	width:170px;
	height:555px;
	float:left;
	margin-left:0px;
}
.dang1{
	width:170px;
	height:425px;
	float:left;
	border-bottom:1px solid rgb(255,77,4);
}
.dang1l{
	width:27px;
	height:425px;
	float:left;
	margin-left:0px;
	background-color:black;
}
.dang1r{
	width:143px;
	height:425px;
	float:left;
	margin-left:0px;
	background-color:#fff;
}
.dangi{
	width:143px;
	height:425px;
	float:left;
	margin-left:0px;
}
.dangi li{
	float:left;
	font-size:12px;
	padding-left:15px;
	padding-top:15px;
}
.dangi li:lastchild{
	list-style:none;
}
.dang2{
	width:170px;
	height:130px;
	float:left;
}
.pi{
	width:30px;
	height:130px;
	float:left;
	margin:0 auto;
	margin-left:0px;
}
.pi .li{
	float:left;
	margin-top:20px;
}
.dang2i{
	width:140px;
	height:130px;
	float:left;
	margin-left:0px;
}
.dang2i li{
	float:left;
	font-size:15px;
}
.dang2i li:lastchild{
	list-style:none;
}
.ground{
	width:800px;
	height:555px;
	float:left;
	margin-left:0px;
}
/*.ground1{
	width:800px;
	height:366px;
	float:left;
	margin-left:0px;
}*/
.box{
	width:800px;
	height:366px;
	float:left;
	border: 1px solid red;
	/*margin: 100px auto;*/
	position: relative;
	overflow: hidden;
}
.slider{
	width: 8400px;
	position: absolute;
	left: -800px;
	float:left;
}
.slide{
	width:800px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	 /*display: none; */
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 260px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
	text-align:center;
}
.nav .active{
	background: red;
}
.ground2{
	width:800px;
	height:189px;
	float:left;
	margin-left:0px;
	border-top:2px solid rgb(255,77,4);
}
.ground22{
	width:800px;
	height:189px;
	float:left;
	margin-left:0px;
}
.ground22 li{
	float:left;
	margin:0 auto;
	margin-left:0px;
}
.kuai{
	width:212px;
	height:555px;
	float:left;
	margin-left:0px;
	background-color:#fff;
}
.kuai1{
	width:212px;
	height:366px;
	float:left;
	margin-left:0px;
	border-bottom:1px solid rgb(235,234,231);
}
.kuaitop{
	width:212px;
	height:45px;
	float:left;
	margin-left:0px;
	border-bottom:1px solid rgb(235,234,231);
}
.xunl{
	width:25px;
	height:25px;
	float:left;
	margin-left:10px;
	margin-top:12px;
}
.xunz{
	width:60px;
	height:25px;
	float:left;
	margin-left:10px;
	margin-top:12px;
	font-size:15px;
	color:rgb(255,77,4);
}
.xunr{
	width:12px;
	height:25px;
	float:left;
	margin-left:70px;
	margin-top:12px; 
}
.gong{
	width:212px;
	height:321px;
	float:left;
	margin-left:0px;
	overflow:hidden;
}
.gong1{
	width:212px;
	height:321px;
	float:left;
	margin-left:0px;
}
.gong div ul li a{ 
text-decoration:none; 
color:#333333; 
} 
.gong div ul li a:hover{ 
text-decoration:underline; 
} 
#gong1 li{
	padding-top:10px;
	padding-left:20px;
	font-size:13px;
	color:#ff4d04;
	font-weight:bolder;
}

.kuai2{
	width:212px;
	height:189px;
	float:left;
	margin-left:0px;
}
.hua{
	width:212px;
	height:20px;
	float:left;
	margin: 0 auto;
	margin-left:0px;
}
.hual{
	width:12px;
	height:20px;
	float:left;
	margin-left:20px;
	margin-top:10px;
}
.huaz{
	width:50px;
	height:20px;
	float:left;
	margin-left:10px;
	margin-top:10px;
	font-size:12px;
}
.huar{
	width:92px;
	height:20px;
	float:left;
	margin-left:10px;
	margin-top:10px; 
	font-size:12px;
	color:rgb(255,77,4);
}
.phonenum{
	float:left;
	margin:0 auto;
	margin-left:10px;
	margin-top:20px; 
}
.price{
	width:210px;
	height:25px;
	float:left;
	margin: 0 auto;
	margin-left:0px;
	margin-top:15px;
}
#price1{
	width:60px;
	height:20px;
	float:left;
	margin: 0 auto;
	margin-left:20px;
}
.price2{
	color:rgb(255,77,4);
}
.chong{
	width:180px;
	height:30px;
}
#chong{
	width:180px;
	height:30px;
	float:left;
	margin: 0 auto;
	margin-left:10px;
	margin-top:20px;
	border:1px solid rgb(255,77,4);
	background-color:rgb(255,77,4);
	font-size:20px;
	color:#fff;
	border-radius:5px;
}
/*.right{
	width:45px;
	height:510px;
	float:left;
	margin:0 auto;
	margin-left:30px;
	margin-top:0px;
	background-color:red;
}*/
/*guide*/
.guide{
	width:1135px;
	height:180px;
	float:left;
	margin-left:83px;
	border-bottom:1px solid rgb(180,147,170);
}
.login{
	height:180px;
	float:left;
}
.shopp{
	width:70px;
	height:120px;
	float:left;
	margin-left:60px;
	margin-top:35px;
}
.shopp1{
	width:66px;
	height:120px;
	float:left;
	margin-left:2px;
}
.shopp1 li{
	float:left;
	margin-left:5px;
	margin-top:5px;
}
.pay{
	width:70px;
	height:120px;
	float:left;
	margin-left:60px;
	margin-top:35px;
}
.pay1{
	width:66px;
	height:120px;
	float:left;
	margin-left:2px;
}
.pay1 li{
	float:left;
	margin-left:5px;
	margin-top:5px;
}
.shouhou{
	width:70px;
	height:120px;
	float:left;
	margin-left:60px;
	margin-top:35px;
}
.shouhou1{
	width:66px;
	height:120px;
	float:left;
	margin-left:2px;
}
.shouhou1 li{
	float:left;
	margin-left:5px;
	margin-top:5px;
}
.vip{
	width:70px;
	height:120px;
	float:left;
	margin-left:60px;
	margin-top:35px;
}
.vip1{
	width:66px;
	height:120px;
	float:left;
	margin-left:2px;
}
.vip1 li{
	float:left;
	margin-left:5px;
	margin-top:5px;
}
.help{
	width:70px;
	height:120px;
	float:left;
	margin-left:60px;
	margin-top:35px;
}
.help1{
	width:66px;
	height:120px;
	float:left;
	margin-left:2px;
}
.help1 li{
	float:left;
	margin-left:5px;
	margin-top:5px;
}
.more{
	width:70px;
	height:120px;
	float:left;
	margin-left:60px;
	margin-top:35px;
}
.more1{
	width:66px;
	height:120px;
	float:left;
	margin-left:2px;
}
.more1 li{
	float:left;
	margin-left:5px;
	margin-top:5px;
}
.erwei{
	height:180px;
	float:left;
	margin-left:60px;
	margin-top:25px;
}
.last{
	width:1135px;
	height:180px;
	float:left;
	margin-left:83px;
}
.ltop{
	width:665px;
	height:20px;
	margin:0 auto;
	margin-left:270px;
	margin-top:18px;
	float:left;
}
.ltop1{
	width:660px;
	height:20px;
	float:left;
	margin:0 auto;
}
.ltop1 li{
	float:left;
	font-size:12px;
	color:rgb(180,147,170);
	padding-right:20px;
	background:url(../img/line1.png) no-repeat right center;
}
.lnext{
	width:490px;
	height:16px;
	float:left;
	margin:0 auto;
	margin-left:356px;
	margin-top:3px;
	font-size:10px;
	color:rgb(180,147,170);
}
.lzheng{
	width:1064px;
	height:18px;
	float:left;
	margin:0 auto;
	margin-left:60px;
	margin-top:3px;
	font-size:10px;
	color:rgb(180,147,170);
}
.lnum{
	width:132px;
	height:15px;
	float:left;
	margin:0 auto;
	margin-left:500px;
	margin-top:3px;
	font-size:10px;
	color:rgb(180,147,170);
}
.ltu{
	width:785px;
	height:60px;
	float:left;
	margin:0 auto;
	margin-left:198px;
	margin-top:22px;
}